.btn-fullsize {
	width: 100%;
	height: 100%;
}

.btn-ok {
  color: black;
  background-color: #EFFDE7;
  border-color: #ccc;
}

.btn-ok:hover {
  color: white;
}

.btn-facebook {
  color: black;
  background-color: #B8EFF2;
  border-color: #ccc;
}

.btn-facebook:hover {
  color: white;
}

.btn-line {
  color: black;
  background-color: #F0F9E1;
  border-color: #ccc;
}

.btn-line:hover {
  color: white;
}

.btn-normal {
  color: black;
  background-color: white;
  border-color: #ccc;
}

.btn-normal:hover {
  color: white;
}

.btn-normal-selected {
  color: black;
  background-color: #F0F9E1;
  border-color: #ccc;
}

.btn-normal-selected:hover {
  color: white;
}

.btn-remove {
	color: black;
  background-color: #F7B9B9;
  border-color: #ccc;
}

.btn-remove:hover {
	border-color: black;
}

.btn-continues {
  width: 100px;
  color: black;
  background-color: white;
  border-color: #ccc;
}

.btn-continues:hover {
	border-color: black;
}

.btn-copy {
  color: white;
	padding: 0px;
  background-color: transparent;
}

.btn-copy:hover {
  color: #8CF57C;
}

@media (max-width: 800px) {
  .btn-continues {
    width: 100%;
  }
}
