.navbar-fixed-top {
  height: 50px;
}

.navbar-nav {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-nav > li > a {
  padding-bottom: 5px;
}

.navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-toggle {
  border: 1px solid black;
}

.menu-bag i {
  font-size: 22px;
}

.menu-bag-number {
  font-size: 16px;
  position: relative;
  top: -8px;
  left: -8px;
  border-radius: 4px;
  padding: 1px 5px;
}

.menu-help i {
  font-size: 22px;
}

@media (max-width: 425px) {
  .navbar-fixed-top {
    margin-right: 0;
  }

  .navbar-nav {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .navbar-fixed-top .navbar-collapse {
    max-height: 400px;
  }
}
