.help-page {
  padding: 50px;
}

.help-step-order {
  text-align: center;
}

.help-step-order > span {
  color: white;
  background-color: grey;
  padding: 15px 20px;
  font-size: 24px;
  border-radius: 4px;
}

.help-step-order > p {
  margin-top: 25px;
  margin-bottom: 40px;
  font-size: 18px;
}

.store-page {
  padding-top: 15px;
  padding-left: 100px;
  padding-right: 100px;
}

.store-map {
  max-height: 400px;
  float: right;
}

@media screen and (max-width: 1024px) {
  .store-page {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 768px) {
  .help-page {
    padding: 20px;
  }

  .store-map {
    max-height: 300px;
  }
}

@media (max-width: 425px) {
  .store-page {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .store-map {
    max-height: 140px;
  }
}

@media (max-width: 375px) {
  .store-map {
    max-height: 110px;
  }
}
