.section-image {
  margin-top: 10px;
}

.section-image-item {
  max-height: 100px;
  margin: 1px;
}

.section-image-mark {
  border: 1px solid red;
}

@media screen and (max-width: 768px) {
  .section-image-item {
    max-height: 110px;
  }
}

@media screen and (max-width: 425px) {
  .section-image-item {
    max-height: 90px;
  }
}

@media screen and (max-width: 375px) {
  .section-image-item {
    max-height: 80px;
  }
}

@media screen and (max-width: 320px) {
  .section-image-item {
    max-height: 80px;
  }
}
